#VerticalGroup1 {
    width: 100%;
    height: 100%;
    margin: 1;
}

#VerticalGroup2 {
    width: 20%;
    height: 100%;
    margin: 1;
}

#VerticalGroup3 {
    width: 70%;
    height: 100%;
    margin: 1;
}

#HorizontalGroup1 {
    width: 100%;
    height: 50%;
    margin: 1;
}

#HorizontalGroup2 {
    width: 100%;
    height: 50%;
    margin: 1;
}

#HorizontalGroup3 {
    width: 100%;
    height: 100%;
    margin: 5;
    border: round #002b36
}

#VerticalScroll1 {
    width: 25%;
    height: 100%;
    margin: 4 4;
}

#RangeInput {
    width: 100%;
    height: 20%;
    margin: 2 4;
}

#ManualLabel {
    width: 100%;
    height: 20%;
    margin: 0 8;
}

#RangeInputStatus {
    width: 100%;
    height: 20%;
    margin: 0 8;
}

#Scan {
    width: 40%;
    height: 20%;
    margin: 3 4;
}

#HostList {
    width: 60%;
    height: 100%;
}

#LogList {
    width: 40%;
    height: 100%;
}

#HostInfo {
    width: 80%;
    height: 100%;
}

#ProbeAll {
    width: 20%;
    height: 25%;
}

#ProbeSelected {
    width: 20%;
    height: 25%;
}

#ClearLogs {
    width: 20%;
    height: 25%;
}

#BackMenu {
    width: 20%;
    height: 25%;
}

#SelectLabel {
    margin: 2 10;
    border: round #002b36;
}

CheckBox {
    width: auto;
}

ListView {
    margin: 2 10;
    border: round #002b36;
}
